@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* ---------------------------- Variables */
:root {
  /* Colores */
  --green-color: #7ACC2D;
  --white-color: white;
  --black-color: #313337;

  /* Tipografia */
  --normal: 12px;

  /* Espaciado */
  --space: 10px;
  --space-long: 50px;
  --space-section: 60px;

  /* Dimension */
  --size-mention: 250px;

  /* Box shadow */
  --box: 0 0 2px 1px #e6e5e9;
}
/* ---------------------------- Variables */

body {
  padding: 0;
  margin: 0;
  font-size: var(--normal);
  font-family: 'Open Sans', sans-serif;
}

nav {
  display: flex;
  background-color: var(--green-color);
  padding: var(--space);
  color: var(--white-color);
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  padding-left: var(--space);
}

nav li a {
  color: var(--black-color);
  text-decoration: none;
}

nav li a:hover {
  color: var(--white-color);
}

/* ---------------------------- Main section */
.main_section {
  padding: 15%;
  text-align: center;
}

.products {
  max-height: 50px;
  background-image: url('https://static.platzi.com/media/tmp/class-files/git/Desarrollo_web/Desarrollo_web-c10/images/curve.png');
  background-size: cover;
  background-position: center top;
  padding: 20%;
  display: flex;
}

.product {
  padding: var(--space);
  margin-top: -240px;
}

.product .content {
  background-color: var(--white-color);
  padding: 15px;
  box-shadow: var(--box);
}

.img_content {
  text-align: center;
}

.main_button {
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: var(--normal);
  color: var(--white-color);
  border: 0;
  cursor: pointer;
  border-radius: 2px;
}

.main_button:hover {
  background-color: #5c9c20;
}

/* ---------------------------- Details section */
.details {
  display: flex;
  padding: var(--space-section) 0;
  justify-content: center;
  flex-wrap: wrap;
}

.detail_item {
  max-width: 150px;
  padding: 0 var(--space-long);
}

.detail_item_content img {
  width: 100px;
}

.item_title {
  text-align: center;
}

/* ---------------------------- Menciones */
.mentions {
  padding: var(--space-section) 0;
}

.mentions_title {
  text-align: center;
}

.mentions_content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mentions_content-item {
  width: var(--size-mention);
  margin: var(--space);
  box-shadow: var(--box);
}

.mentions_content-item .item_img {
  text-align: center;
}
.mentions_content-item img {
  width: var(--size-mention);
  height: 120px;
  object-fit: cover;
}

.mentions_content-item .item_content {
  padding: var(--space);
}